@model IEnumerable<GelisimTablosu.Models.EgitimYili>
@{
    ViewData["Title"] = "Eğitim Yılları";
    var takvimler = ViewBag.Takvimler as Dictionary<int, List<bool>>;
}
<h2>Eğitim Yılları</h2>
<a class="btn btn-primary mb-3" asp-action="Create">Yeni Eğitim Yılı Ekle</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Başlangıç Tarihi</th>
            <th>Bitiş Tarihi</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Ad</td>
                <td>@item.BaslangicTarihi.ToString("dd.MM.yyyy")</td>
                <td>@item.BitisTarihi.ToString("dd.MM.yyyy")</td>
                <td>
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                    <a class="btn btn-sm btn-success" asp-action="GelisimSil" asp-controller="Student" asp-route-id="@item.Id">Gelişim Tablolarını Sil</a>
                    @if (takvimler[item.Id][0] == true)
                    {
                        <a class="btn btn-sm btn-success" asp-action="TakvimGor" asp-controller="Home"
                            asp-route-id="@item.Id">Takvim Goster</a>

                    }
                    else
                    {
                        <a class="btn btn-sm btn-success" asp-action="Takvim" asp-controller="Home"
                            asp-route-id="@item.Id">Takvim Ekle</a>

                    }
                </td>
                @if (ViewBag.OgreciVarmi)
                {
                    <td>

                        @if (takvimler[item.Id][1] == true)
                        {
                            <form asp-action="CreateTablo" asp-controller="Home" method="post">
                                    <input name="KonuAdet" value="1" type="hidden" />

                                

                                <input type="hidden" name="Dal" value="0" />
                                <input type="hidden" name="EgitimYili" value="@item.Id" />
                                <button type="submit" class="btn btn-sm btn-outline-info">Yazilim Gelişim Tablosu Göster</button>
                            </form>
                        }
                        else
                        {
                            <form asp-action="CreateTablo" asp-controller="Home" method="post">
                                <div class="form-group mb-3">
                                    <label class="control-label">Konu Adeti</label>
                                    <input name="KonuAdet" class="form-control" value="1" type="number" />

                                </div>

                                <input type="hidden" name="Dal" value="0" />
                                <input type="hidden" name="EgitimYili" value="@item.Id" />
                                <button type="submit" class="btn btn-sm btn-outline-info">Yazilim Gelişim Tablosu Ekle</button>
                            </form>
                        }

                    </td>
                    <td>
                        @if (takvimler[item.Id][2] == true)
                        {
                           <form asp-action="CreateTablo" asp-controller="Home" method="post">
                            
                                <input type="hidden" name="KonuAdet" value="1" />
                                <input type="hidden" name="Dal" value="1" />
                                <input type="hidden" name="EgitimYili" value="@item.Id" />
                                <button type="submit" class="btn btn-sm btn-outline-info">Ağ İşletmenliği Gelişim Tablosu Gör</button>
                            </form>

                        }
                        else
                        {
                            <form asp-action="CreateTablo" asp-controller="Home" method="post">
                                <div class="form-group mb-3">
                                    <label class="control-label">Konu Adeti</label>
                                    <input name="KonuAdet" class="form-control" value="1" type="number" />

                                </div>
                                <input type="hidden" name="Dal" value="1" />
                                <input type="hidden" name="EgitimYili" value="@item.Id" />
                                <button type="submit" class="btn btn-sm btn-outline-warning">Ağ İşleymenliği Gelişim Tablosu Ekle</button>
                            </form>

                        }

                    </td>
                }
                else
                {

                    <span>&nbsp;</span>

                }

            </tr>
        }
    </tbody>
</table>
</td>